* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navigation bar */
header {
    display: flex;
    width: 1300px;
    height: 57px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    display: flex;

    margin-left: 100px;
    margin-right: 100px;
}

nav img {
    margin-top: 18px;
    width: 58.11px;
    height: 20px;
}

nav .bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 20px;
}

nav ul {

    width: 549px;
    height: 56px;
    display: flex;
    justify-content: space-between;

}

nav li {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    color: #000000;
    flex-direction: column;
    justify-content: center;
    width: 98px;
    align-items: center;
}

.link {
    transition: all 0.5s;
    position: absolute;
    top: 55px;
    display: inline-block;
    height: 2px;
    width: 0px;
    background-color: #191919;
    justify-content: space-between;
}

nav li:hover .link {
    width: 100%;

}

nav li:active {
    color: #fff;
    background: rgba(25, 25, 25, 0.7);
    transition: all 0.2s;
}

nav img:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

nav img:active {
    opacity: 0.4;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    border: 3px solid #00BAFC;
    background: #00BAFC;
    border-radius: 5px;
    width: 210px;
    height: 40px;
    padding: 6px 16px;
    margin-top: 8px;
    transition: all 0.3s;
}

button a {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 107px;
    height: 24px;

}

nav button:hover {
    background-color: #fff;
    border: 3px solid #00BAFC;
}

nav button:active {
    background: rgba(0, 186, 252, 0.6);
    opacity: 0.6;
}

button:hover a {
    color: #00BAFC;
}

button:active a {
    color: #FFFFFF;
}

.sec2{
display: flex;
flex-direction: column;
align-items: center;
padding: 72px 0px;
gap: 16px;
width: 1300px;
height: 284px;
}
.sec2 h2 {
    margin: 0 auto;
    width: 117px;
    height: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

}

.sec2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
   margin: 16px auto;
   width: 800px;
height: 72px;
}
.sec3{
    display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;
width: 1300px;
background: #F4F4F4;
gap: 64px;
}
.sec3 .card1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 40px;
    
    width: 804px;
    height: 378px;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    
}
.sec3 article h2{
    width: 220px;
height: 26px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: #000000;
}
.sec3 article p{
    margin: 16px 0px 5px 0px;
    width: 500px;
height: 48px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.sec3 article ul{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px;
gap: 8px;

width: 345px;
height: 152px;

color: #00BAFC;
}
.sec3 article li{
    list-style:disc;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

}
.sec3 article span{
    color: #000000;
}
.sec3 button {
    margin-top: 38px;
}
.sec3 button a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.sec3 button:hover{
 background-color: #fff;
}
.sec3 button:active{
 opacity: 0.5;
}
.sec3 button:active a{
color: #00BAFC;
}
 .batafsil{
    width: 130px;
height: 24px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #00BAFC;
padding: 0px 16px;
}










.sec4 {
    width: 1300px;
    padding-left: 100px;
    
    padding-top: 56px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #00BAFC;
}

.sec4 h2 {
    width: 203px;
    height: 31px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}

.sec4 p {
    width: 719px;
    height: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;

}

.buyurtma {
    margin-bottom: 64px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 16px;
    width: 348px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 5px;
}

.buyurtma input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    margin: 16px;
    outline-color: #555;
}

.buyurtma select {
    width: 300px;
    height: 56px;
    margin-left: 16px;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    padding: 16px;

}

.buyurtma .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    gap: 10px;
    width: 167px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 80.5px;
    border: 3px solid #00BAFC;
    transition: all 0.3s;
}

.buyurtma .submit:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
}

.buyurtma .submit:active {
    opacity: 0.7;
}

footer {
    display: flex;
    width: 1300px;
    background-color: #000000;
    color: #fff;
    gap: 100px;
    padding: 50px;
}

footer .sarlavha h2 {
    margin-top: 6px;
    margin-left: 50px;
    width: 149px;
    height: 26px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}

footer .sarlavha p {
    margin-top: 16px;
    margin-left: 50px;
    width: 320px;
    height: 120px;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

footer .sahifa h2 {
    width: 143px;
    height: 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

footer .sahifa ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin-top: 16px;
    width: 87px;
    height: 184px;
}

footer .sahifa li:hover {
    color: #00BAFC;
}

footer .sahifa li:active {
    opacity: 0.7;
}

footer .internet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

footer .internet h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

footer .internet li {
    padding-bottom: 5px;
}

i {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

footer .internet li:hover a {
    color: #00BAFC;
}

footer .internet li:active a {
    opacity: 0.7;
}

footer .internet li:active i {
    opacity: 0.7;
}